.container{
   border: 1px solid #adade1;
     font-family: sans-serif;
     color:rgb(135, 135, 135);
     box-shadow: 1px 1px  4px  #0b060e;
     margin: 10px auto ; 
     padding: 16px;
     background-color: #0b060e;
     border-radius:4px ;

}

.Search form {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 4px;
  padding-bottom: 30px;
}

input {
  padding: 10px 14px;
  border-radius: 5px;
  border: none;
  font-size: 14px;
}

.search-input {
  background-color: rgba(241, 244, 251, 0.7);
}

.search-input:focus-visible {
  outline: 2px solid #422957;
  background-color: rgb(112, 131, 150);
}

.search-btn {
  background-color: #e1cdf0;
  transition: all 150ms ease-out;
}

.search-btn:hover {
  background-color: #aaa1b3;
  box-shadow: 1px 1px 4px #b3b3b3;
  color: #fff;
}

.search-btn:active {
  background-color: #8e8695;
}

.Current-weather {
  padding: 30px 0;
  border-top: 1px solid #fff9;
}

.Weather h1 {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 20px;
}

.weather-details {
  text-align: left;
}

.weather-details ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #5a5a5a;
}

.humidity,
.wind {
  color: #ce203a;
  font-weight: bold;
}

.city-temperature {
  align-items: center;
}

.city-temperature img {
  width: 90px;
  margin-top: 8px;
}

.current-temperature {
  font-size: 76px;
  font-weight: bold;
  line-height: 1;
}

.temperature-units {
  font-size: 18px;
  margin-top: 8px;
}

.celsius,
.fahrenheit {
  color: #d4254b;
  text-decoration: none;
}

.WeatherForecast {
  border-bottom: 1px solid rgba(41, 15, 15, 0.6);
  padding-bottom: 30px;
}

.forecast-icon {
  width: 70px;
}

footer {
  color: #8d7d7d;
  font-size: 13px;
  padding-top: 23px;
}

footer a {
  color: #742222;
  font-weight: 600;
  text-decoration: none;
  transition: all 150ms ease-out;
}

footer a:hover {
  color: #aa7d84;
}